@keyframes line1 {
  from {
    /* pushes the sun down past the viewport */
    transform: translateX(0);
  }
  to {
    /* returns the sun to its default position */
    transform: translateX(100vw);
  }
}

@keyframes line2 {
  from {
    /* pushes the sun down past the viewport */
    transform: translateX(100vw);
  }
  to {
    /* returns the sun to its default position */
    transform: translateX(0);
  }
}

@keyframes bottomToTop {
  0% {
    transform: translateY(20vh);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes scaleUp3 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleUpandDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.bottomtop-animation1 {
  animation: 1s ease bottomToTop;
}
