@use "_vars";

.btn__medium {
  width: 15rem;
  border: 3px solid var(--secondary-color);
  color: var(--secondary-color);
  padding: 0.6rem;
  margin: auto;
  margin-top: 1.1rem;
  font-size: 1.5rem;
  font-weight: 800;
  cursor: pointer;
}

.btn__small {
  cursor: pointer;
  width: 150px;
  align-self: flex-end;
}

.diagonal {
  position: relative;
  line-height: 50px;
  background: var(--secondary-color);
  color: var(--white);
  border: none;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  z-index: 1;
  padding: 0px;
}
.diagonal:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
  height: 1000%;
  background: var(--secondary-color-2);
  z-index: -1;
  transform-origin: 0% 0%;
  transform: translateX(calc(20% - 25px)) translateY(10%) rotate(-45deg);
  transform: translateY(10%) translateX(16%) rotate(-45deg);
  transition: transform 0.3s;
}
.diagonal:hover::after {
  transform: translateY(10%) translateX(-25px) rotate(-45deg);
}
