@use "_vars";

.menu {
  background-color: var(--light-gray);
  height: 2.2rem;
  &-sticky {
    position: sticky;
    z-index: 100;
    top: 0;
  }
  &-div {
    width: 100%;
    height: 5px;
    background-color: var(--primary-color);
  }
  &__container {
    list-style-type: none;
    margin: 3px 15em 0 0;
    display: flex;
    justify-content: flex-end;

    &-text {
      color: var(--white);
      text-decoration: none;
      font-size: 1.3rem;
      margin-left: 2rem;
      font-weight: 800;
      &:hover {
        color: var(--primary-color);
      }
    }
  }
}

.menu__mobile {
  display: none;
  &-sticky {
    position: sticky;
    z-index: 100;
    top: 0;
  }
}

.menu__mobile-bars {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: var(--light-gray);
  & i {
    padding: 0.1rem;
    cursor: pointer;
    color: var(--white);
    font-size: 2rem;
  }
}

.mobile__container {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dark-gray-2);
  &-text {
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--white);
    margin: 0.4rem 1rem;
    font-weight: 800;
  }
}

@media only screen and (max-width: 768px) {
  .menu__mobile {
    display: block;
  }

  .menu {
    display: none;
  }
}
